UWE-ESD-2018-Assignment/UWE-ESD-2018-Assignment-war/src/conf/xml-resources/web-service-references/AlphaCabWS/wsdl/localhost_8080/AlphaCabWS/AlphaCabWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="AlphaCabWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/AlphaCabWS/AlphaCabWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addList">
<part name="parameters" element="tns:addList"/>
</message>
<message name="addListResponse">
<part name="parameters" element="tns:addListResponse"/>
</message>
<message name="getForeignID">
<part name="parameters" element="tns:getForeignID"/>
</message>
<message name="getForeignIDResponse">
<part name="parameters" element="tns:getForeignIDResponse"/>
</message>
<message name="showError">
<part name="parameters" element="tns:showError"/>
</message>
<message name="showErrorResponse">
<part name="parameters" element="tns:showErrorResponse"/>
</message>
<portType name="AlphaCabWS">
<operation name="addList">
<input wsam:Action="http://ws/AlphaCabWS/addListRequest" message="tns:addList"/>
<output wsam:Action="http://ws/AlphaCabWS/addListResponse" message="tns:addListResponse"/>
</operation>
<operation name="getForeignID">
<input wsam:Action="http://ws/AlphaCabWS/getForeignIDRequest" message="tns:getForeignID"/>
<output wsam:Action="http://ws/AlphaCabWS/getForeignIDResponse" message="tns:getForeignIDResponse"/>
</operation>
<operation name="showError">
<input wsam:Action="http://ws/AlphaCabWS/showErrorRequest" message="tns:showError"/>
<output wsam:Action="http://ws/AlphaCabWS/showErrorResponse" message="tns:showErrorResponse"/>
</operation>
</portType>
<binding name="AlphaCabWSPortBinding" type="tns:AlphaCabWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getForeignID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showError">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AlphaCabWS">
<port name="AlphaCabWSPort" binding="tns:AlphaCabWSPortBinding">
<soap:address location="http://localhost:8080/AlphaCabWS/AlphaCabWS"/>
</port>
</service>
</definitions>