UWE-ESD-2018-Assignment/UWE-ESD-2018-Assignment-war/web/WEB-INF/wsdl/localhost_8080/AlphaCabWS/AlphaCabWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="addList" type="tns:addList"/>

<xs:element name="addListResponse" type="tns:addListResponse"/>

<xs:element name="getForeignID" type="tns:getForeignID"/>

<xs:element name="getForeignIDResponse" type="tns:getForeignIDResponse"/>

<xs:element name="showError" type="tns:showError"/>

<xs:element name="showErrorResponse" type="tns:showErrorResponse"/>

<xs:complexType name="getForeignID">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
<xs:element name="table" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getForeignIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showError">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showErrorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addList">
<xs:sequence>
<xs:element name="sql" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>